.w250{
    width:250px;
}
.person-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid red;
    margin:20px
}